* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif!important;
}
html, body {
    height: 100%;
}

header {
    z-index: 10;
    width: 100%;
}

@media screen and (max-width: 991px) {
    header {
        position: relative;
    }
    .bps-main-minintro {
        margin: 50px 0;
        background-color: rgb(178, 178, 32);
    }    
}

@media screen and (min-width: 992px){
    header {
        position: absolute;
    }
}