#bps-ann-bar {
    text-align: center;
    background-color: #007A6A;
}

.bps-ann-bar-message {
    padding: 0.5rem 0;
    margin: 0;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 300;
    color: white;
}

@media screen and (max-width: 991px) {
    #bps-ann-bar {
        padding: 0 4%;
    }
    .bps-ann-bar-message {
        font-size: 10px;
    }
}

@media screen and (min-width: 992px) {
    #bps-ann-bar {
        padding: 0 5%;
    }
    .bps-ann-bar-message {
        font-size: 12px;
    }
}