

/* .bps-main-news-c1-dimg {
    width: 100%;
} */
.bps-main-news-c-img {
    width: 100%;
}
.bps-main-news-c-dinfo {
    width: 100%;
    height: auto;
    background-color: #007A6A;
    color: white;
    text-align: center;
}
.bps-main-news-c-h3 {
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 991px){
    .bps-main-news-sect {
        margin: 0 5%;
    }
    #bps-main-news-h2 {
        color: #A593C2;
        font-weight: 500;
        margin: 0 0 25px 0;
        font-size: 26px;
        line-height: 40px;
    }
}

@media screen and (min-width: 992px){

}