* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
}